:root {
  /* Кольори */
  --primary-text-color: #757575;
  --background-color: #f6f5f4;
  --background-white-color: #ffffff;
  --accent-text-color: #2b788b;
  --title-text-color: #000000;
  --subtitle-text-color: #585858;
  --accent-link-color: #c3dce3;
  --pink-text-color: #945069;

  /* Шрифти */
  --font-primary: "Montserrat", sans-serif;
  --font-logo: "Dela Gothic One", sans-serif;
}
body {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: var(--primary-text-color);
  letter-spacing: -0.04em;
  background-color: var(--background-color);
}
.container {
  max-width: 1210px;
  margin-inline: auto;
  padding-inline: 15px;
}
/* HOME=================================================================== */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
}
.header-container {
  display: flex;
  gap: 60px;
  align-items: center;
}
.header::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  top: 88px;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.nav-list {
  display: flex;
  gap: 30px;
}
.nav-link-games {
  display: flex;
  align-items: center;
  gap: 3px;
}
.nav-link-games::after {
  content: "";
  background-image: url(../img/arrow_down.svg);
  width: 18px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
}

.nav-item:nth-child(4) {
  position: relative;
}
.nav-item:nth-child(4):hover .submenu {
  pointer-events: all;
  opacity: 1;

  border-radius: 14px;

  width: 215px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.submenu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: var(--background-white-color);
  border-radius: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  color: var(--primary-text-color);
  box-shadow: 0 11px 11px 0 rgba(52, 41, 39, 0.04),
    0 11px 69px 0 rgba(52, 41, 39, 0.04), 0 69px 69px 0 rgba(52, 41, 39, 0.04),
    0 92px 92px 0 rgba(52, 41, 39, 0.04), 0 183px 183px 0 rgba(52, 41, 39, 0.12),
    0 343px 343px 0 rgba(52, 41, 39, 0.08);
  z-index: 1;
}
.submenu-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.submenu-item::after {
  content: "";
  background-image: url(../img/arrow_grey.svg);
  width: 8px;
  height: 7px;
  background-size: contain;
  background-repeat: no-repeat;
}
.submenu-item:hover::after {
  content: "";
  background-image: url(../img/arrow_black.svg);
  width: 8px;
  height: 7px;
  background-size: contain;
  background-repeat: no-repeat;
}
.submenu-item:hover {
  color: #333333;
}
.action-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.action-account {
  display: flex;
  gap: 10px;
  align-items: center;
}
.alex-span {
  color: var(--accent-text-color);
  border-radius: 100px;
  padding: 9px 14px;
  max-width: 40px;
  max-height: 40px;
  background-color: #c3dce3;
}

.logo {
  font-size: 21px;
  font-family: var(--font-logo);
  color: var(--title-text-color);
  display: flex;
  gap: 30px;
  margin-right: 30px;
  align-items: center;
}
.logo::after {
  content: "";
  width: 2px;
  height: 18px;
  background-color: #e0e0e0;
}
.nav-item:hover {
  color: var(--subtitle-text-color);
}
.nav-link.active {
  color: var(--title-text-color);
}
.action-item:nth-child(2) {
  color: var(--title-text-color);
  font-weight: 700;
}
.action-link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.action-link:hover {
  text-decoration: underline;
  color: var(--accent-text-color);
}
.action-link::after {
  content: "";
  background-image: url(../img/arrow_black.svg);
  width: 8px;
  height: 7px;
  background-size: cover;
  background-repeat: no-repeat;
}
.action-link:hover::after {
  content: "";
  background-image: url(../img/arrow_accent.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 8px;
  height: 7px;
}
.action-account:hover {
  color: var(--subtitle-text-color);
}

/* Hero================================================================== */
.hero {
  padding-bottom: 120px;
  padding-top: 100px;
  background-image: url(../img/boy.webp);
  background-repeat: no-repeat;

  background-position: right;
}
/* .hero-container::after {
  content: "";
  display: flex;
  background-image: url(../img/boy.webp);
  width: 933px;
  height: 601px;

  background-size: contain;
} */
.hero-subtitle {
  font-weight: 700;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}
.hero-title {
  font-weight: 400;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -0.04em;
  font-family: var(--font-logo);
  color: var(--title-text-color);
  margin-top: 24px;
  max-width: 543px;
}
.text {
  font-size: 18px;
}
.hero-text {
  margin-top: 30px;
  max-width: 397px;
}
.hero-link {
  display: inline-block;
  font-weight: 700;
  color: var(--accent-text-color);
  margin-top: 32px;
  border-radius: 100px;
  padding: 14px 22px;
  background-color: #c3dce3;
}
.hero-link:hover {
  background-color: var(--accent-text-color);
  color: var(--background-white-color);
}
.hero-advantages {
  margin-top: 49px;
}
.advantages-list {
  display: flex;
  gap: 98px;
}
.advantages-text {
  color: var(--subtitle-text-color);
}
.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-item:nth-child(1)::before {
  content: "";
  background-image: url(../img/words.webp);
  width: 163px;
  height: 40px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages-item:nth-child(2)::before {
  content: "";
  background-image: url(../img/games.webp);
  width: 163px;
  height: 40px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.advantages-item:nth-child(1) {
  position: relative;
}
.advantages-item:nth-child(1):after {
  content: "";
  width: 1.5px;
  height: 49px;
  background-color: #e0e0e0;
  position: absolute;
  right: -55px;
  top: 8px;
}

.games {
  padding-top: 78px;
  padding-bottom: 78px;
  background-color: var(--background-white-color);
}
.games-container {
  display: flex;
  align-items: center;
  gap: 120px;
}
.games-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.games-text {
  margin-bottom: 30px;
}
.title {
  font-weight: 400;
  font-size: 48px;
  font-family: var(--font-logo);
  color: var(--title-text-color);
  line-height: 100%;
}
.hero-title {
  line-height: 120%;
}
.play-list {
  display: flex;
  align-items: end;
  gap: 21px;
}

.play-item:nth-child(1) {
  color: var(--pink-text-color);
  font-weight: 700;
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  color: var(--accent-text-color);
  margin-top: 4px;
  border-radius: 100px;
  padding: 14px 22px;

  background-color: #c3dce3;
}
.link::after {
  content: "";
  background-image: url(../img/arrow_blue.svg);
  width: 8px;
  height: 7px;
  background-size: contain;
  background-repeat: no-repeat;
}
.link:hover {
  color: var(--background-white-color);
  background-color: var(--accent-text-color);
}
.link:hover::after {
  content: "";
  background-image: url(../img/arrow_white.svg);
  width: 8px;
  height: 7px;
  background-size: contain;
  background-repeat: no-repeat;
}
.play-link.call {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 14px;
  padding-top: 82px;
  padding-bottom: 14px;
  padding-inline: 34px;

  position: relative;
}
.play-link.call::before {
  content: "";
  width: 100%;
  height: 106px;
  position: absolute;
  background-image: url(../img/audio.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 0;
  top: -20%;
}

.play-link.sprint {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 14px;
  padding-top: 82px;
  padding-bottom: 14px;
  padding-inline: 34px;
  background-color: #f2d4dc;
  position: relative;
}
.play-link.sprint::before {
  content: "";
  width: 100%;
  height: 106px;
  position: absolute;
  background-image: url(../img/sprint.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 0;
  top: -20%;
}

.play-link.sprint::after {
  content: "";
  background-image: url(../img/arrow_pink.svg);
  width: 8px;
  height: 7px;
  background-size: cover;
  background-repeat: no-repeat;
}
.play-link.sprint:hover {
  background-color: #945069;
  color: var(--background-white-color);
}
.play-link.sprint:hover::after {
  content: "";
  background-image: url(../img/arrow_white.svg);
  width: 8px;
  height: 7px;
  background-size: cover;
  background-repeat: no-repeat;
}
.vocabulary {
  padding-top: 26px;
}
.vocabulary-container {
  display: flex;
  align-items: center;
  gap: 25px;
}
.vocabulary-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.text {
  max-width: 397px;
  line-height: 140%;
}

.progress {
  padding: 95px;
  background-color: var(--background-white-color);
}
.progress-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.progress-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-container {
  display: flex;
  position: relative;
}
.footer-container::after {
  content: "";
  width: calc(100% - 30px);
  left: 15px;
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  top: 40px;
}
.footer-globaltalk {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
}
.globaltalk-list {
  display: flex;
  gap: 30px;
}

.globaltalk-item:hover {
  color: var(--accent-text-color);
}
.pages-list {
  display: flex;
  gap: 30px;
}
.pages-item:hover {
  opacity: 0.7;
}
.footer-accounts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}

.accounts-list {
  display: flex;
  gap: 30px;
}
.accounts-item:hover {
  color: var(--accent-text-color);
}
.footer-privacy {
  font-size: 12px;
}
.logo-span {
  text-decoration: underline;
}
.logo-span:hover {
  cursor: pointer;
  color: var(--accent-text-color);
}
/* TEXTBOOK */
.settings {
  padding-top: 40px;
  padding-bottom: 40px;
}
.settings-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  background-color: var(--background-white-color);
  border-radius: 14px;
}
.settings-logo {
  font-family: var(--font-logo);
  font-size: 26px;
  color: var(--title-text-color);
  flex-grow: 1;
  display: flex;
  align-items: end;

  gap: 10px;
}
.settings-logo::before {
  content: "";
  background-image: url(../img/student.svg);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}
.settings-list {
  display: flex;
  gap: 10px;
  align-items: center;
}

.settings-link.call {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 14px;

  padding-right: 37px;
  background-color: var(--accent-link-color);
}
.settings-link.call::before {
  content: "";
  border-radius: 14px;
  width: 44px;
  height: 44px;
  background-image: url(../img/audio.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.settings-link.sprint {
  display: flex;
  align-items: center;
  gap: 9px;
  border-radius: 14px;
  padding-right: 45px;

  background-color: #f2d4dc;
}
.settings-link.sprint::before {
  content: "";
  border-radius: 14px;
  width: 44px;
  height: 44px;
  background-image: url(../img/sprint.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -12px;
}

.settings-link:hover {
  opacity: 0.9;
}
.settings-link.setting {
  display: flex;
  border-style: none;
  background-color: var(--background-color);
  border-radius: 4px;
  padding: 4px;
}
.settings-link.setting {
  background-image: url(../img/settings.svg);
  background-repeat: no-repeat;

  background-position: center;
  border-radius: 4px;
  padding: 4px;
  width: 40px;
  height: 40px;
}
.settings-link.setting:hover {
  background-color: var(--accent-text-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 4px;
  background-image: url(../img/settings_white.svg);
  width: 40px;
  height: 40px;
}
.settings-item:nth-child(1) {
  color: var(--pink-text-color);
}
.settings-item:nth-child(2) {
  color: var(--accent-text-color);
}
.english-list {
  display: flex;
  justify-content: center;

  gap: 40px;
}
.english-level.active {
  color: var(--title-text-color);
  font-family: var(--font-logo);
  font-size: 26px;
}

.english-level {
  font-family: var(--font-logo);
  color: var(--primary-text-color);
  font-size: 26px;
}
.english-button {
  border: none;
  background-color: var(--background-color);
  display: flex;
  position: relative;
  gap: 12px;
  align-items: center;
}
.english-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.english-button.active::after {
  content: "";
  background-color: var(--title-text-color);
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -14px;
}
.english-text {
  padding: 4px 8px;
}
.english-text.active {
  color: var(--background-white-color);
  background-color: #639b6d;
  font-size: 12px;
  border-radius: 4px;
}
.english-text.green {
  color: #639b6d;
  background-color: rgba(99, 155, 109, 0.3);

  font-size: 12px;

  border-radius: 4px;
}
.english-text.yellow {
  color: #c4a24c;
  background-color: rgba(196, 162, 76, 0.3);
  font-size: 12px;

  border-radius: 4px;
}
.english-text.red {
  color: #cb5b43;
  background-color: rgba(203, 91, 67, 0.3);
  font-size: 12px;

  border-radius: 4px;
}
.dictionary {
  margin-top: 40px;
  display: flex;
}
.dictionary-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.dictionary-item {
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 40px) / 3);
}
.dictionary-item:hover {
  transform: translateY(-10px);
}

.card-info {
  box-shadow: 0 23px 46px -11px rgba(52, 41, 39, 0.08);
  background-color: var(--background-white-color);
  border-radius: 0px 0px 14px 14px;
  padding: 30px;
}
.dictionary-item:nth-child(odd)::before {
  content: "";
  background-image: url(../img/school.jpg);
  width: 380px;
  height: 250px;
  background-position: center;
  background-size: cover;
  border-radius: 14px 14px 0px 0px;
}
.dictionary-item:nth-child(even)::before {
  background-image: url(../img/pianio.jpg);
  content: "";

  width: 380px;
  height: 250px;
  background-position: center;
  background-size: cover;
  border-radius: 14px 14px 0px 0px;
}
.dictionary-item:nth-child(9)::before {
  content: "";
  background-image: none;
  background-color: var(--background-white-color);
}
.next-card-info {
  box-shadow: 0 23px 46px -11px rgba(52, 41, 39, 0.08);
  border-radius: 14px;
  display: flex;
  align-items: center;

  padding-left: 143px;

  background-color: var(--background-white-color);
  padding-bottom: 446.5px;
}
.next-card-text {
  display: flex;
  align-items: center;
  gap: 3px;

  color: var(--title-text-color);
}
.next-card-text::after {
  content: "";
  background-image: url(../img/arrow_black.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 8px;
  height: 7px;
}
.card-word {
  color: var(--title-text-color);
  font-family: var(--font-logo);
  font-size: 32px;
}
.card-sinonim {
  color: var(--primary-text-color);
  font-family: var(--font-logo);
  font-size: 32px;
  margin-top: 8px;
}
.card-group {
  display: flex;
  gap: 10px;
  align-items: first baseline;
}
.card-link {
  background-color: #cb5b43;
  color: var(--background-white-color);
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 14px;
}
.card-spelling {
  color: var(--title-text-color);
  font-size: 18px;
  margin-top: 16px;
}
.card-example {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-weight: 500;
  color: var(--title-text-color);
  margin-top: 20px;
}
.card-example::after {
  content: "";
  width: 320px;
  height: 2px;
  background-color: #e0e0e0;
}
.card-text {
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 20px;
}
.card-button {
  border-radius: 100px;
  padding: 6px 20px;
  font-size: 14px;
  border: none;
  font-weight: 600;
}
.card-button:hover {
  cursor: pointer;
}
.card-add-button {
  background-color: #639b6d;
  color: var(--background-white-color);
  margin-bottom: 10px;
}
.card-add-button:hover {
  background-color: #d9f1ba;
  color: #639b6d;
}
.card-re-button {
  background-color: rgba(203, 91, 67, 0.3);
  color: #cb5b43;
}
.card-re-button:hover {
  opacity: 0.8;
}
.pagination-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: end;
  padding-top: 40px;
  padding-bottom: 100px;
}
.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #5996a5;
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  border-radius: 50%;

  width: 44px;
  height: 44px;
}
.pagination-button.active {
  background-color: var(--accent-text-color);
  border-color: var(--accent-text-color);
  color: var(--background-white-color);
}
.pagination-button.active:hover {
  background-color: var(--accent-text-color);
}
.pagination-button:hover {
  cursor: pointer;
  background-color: #2b788b78;
  color: var(--background-white-color);
}
.pagination-text {
  font-size: 18px;
  color: var(--title-text-color);
}
.activity {
  padding-top: 100px;
  padding-bottom: 100px;
}

.activity-content {
  display: flex;
  gap: 10px;
  width: 100%;
}
.activity-statistic {
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  padding: 40px;

  width: 582px;

  background-color: var(--background-white-color);
  box-shadow: 0 23px 46px -11px rgba(52, 41, 39, 0.08);
}
.activity-titles {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 54px;
}
.activity-period.active {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: var(--font-logo);
  color: var(--title-text-color);
  font-size: 26px;
}
.activity-period.active::after {
  content: "";
  width: 167px;
  height: 2px;
  background-color: var(--title-text-color);
}
.activity-period.active:hover {
  color: var(--title-text-color);
  cursor: pointer;
}
.activity-period.second {
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: var(--title-text-color);
}
.activity-period.second::after {
  content: "";
  width: 216px;
  height: 2px;
  background-color: var(--title-text-color);
}
.activity-period {
  font-family: var(--font-logo);

  font-size: 26px;
}
.activity-period:hover {
  cursor: pointer;
  color: var(--subtitle-text-color);
}
.statistic {
  display: flex;
}

.statistic-title {
  font-size: 32px;
  font-family: var(--font-logo);
  color: var(--title-text-color);
}
.statistic-list {
  display: flex;
  gap: 160px;
 justify-content: center;
margin-bottom: 20px;
}
.statistic-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

}
.statistic-item:nth-child(1)::after {
  content: "";
  width: 2px;
  height: 49px;
  background-color: #e0e0e0;
  position: absolute;
  left: 190px;
  top: 15px;
  
}

.tasks-sprint {
  display: flex;
  position: relative;
}
.tasks-sprint::before {
  content: "";
  width: 70px;
  height: 112px;
  background-image: url(../img/image\ 30.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
.tasks-sprint::after{
  content: "";
  width: 504px;
  height: 2px;
  background-color: #E0E0E0;
  position: absolute;
  top: 136px;
}
.tasks-call {
  display: flex;

  /* position: relative; */
}
.tasks-content {
  display: flex;
  flex-direction: column;
}
.tasks-call::before {
  content: "";
  width: 70px;
  height: 112px;
  background-image: url(../img/image\ 29.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

  /* position: absolute;
  left: -65px; */
}

.statistic-span {
  font-family: var(--font-logo);
  font-size: 40px;
  color: var(--accent-text-color);
}
.statistic-number {
  font-family: var(--font-logo);
  font-size: 40px;
  color: var(--title-text-color);
}
.tasks-head {
  display: flex;
  align-items: center;
  gap: 8px;
}
.tasks-name {
  font-family: var(--font-logo);
  color: var(--title-text-color);
  font-size: 26px;
}
.tasks-link {
  display: flex;
  padding: 4px 8px;

  max-height: 25px;
  align-items: center;
  font-size: 12px;
  color: var(--accent-text-color);
  border-radius: 6px;

  background-color: #c3dce3;
}
.tasks-content.first{
  margin-bottom: 42px;
}
.tasks-text {
  font-size: 14px;
}
.tasks-span {
  color: var(--title-text-color);
  font-weight: 700;
}
.tasks-head {
  margin-bottom: 16px;
}
.activity-photo {
  box-shadow: 0 23px 46px -11px rgba(52, 41, 39, 0.08);
  border-radius: 14px;
  padding: 20px 40px;

  flex: 1;
  background-color: var(--background-white-color);
}
.activity-img {
  max-width: 100%;

  height: auto;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 100px;
  padding-left: 250px;
}
.game-sprint-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: var(--background-white-color);
  box-shadow: 0 23px 46px -11px rgba(52, 41, 39, 0.08);
  border-radius: 14px;
  padding: 20px 40px;
  max-height: 440px;
  position: relative;
  padding-block: 79px;
}
.game-sprint-container::before {
  content: "";
  background-image: url(../img/sprint-bigpng.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-white-color);
  height: 440px;
  width: 250px;
  background-position: center;
  position: absolute;
  left: -220px;

  border-radius: 14px;
}
.game-audio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: var(--background-white-color);
  box-shadow: 0 23px 46px -11px rgba(52, 41, 39, 0.08);
  border-radius: 14px;
  padding: 20px 40px;
  max-height: 440px;

  position: relative;
  padding-block: 79px;
}
.game-audio-container::before {
  content: "";
  background-image: url(../img/audio-big.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-white-color);
  height: 440px;

  width: 250px;
  background-position: center;
  position: absolute;
  left: -220px;

  border-radius: 14px 0pc 0px 14px;
}
.game-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 14px;
}
.game-text {
  max-width: 458px;
  margin-bottom: 30px;
}
.pagination-level-list {
  display: flex;
  gap: 24px;
  margin-bottom: 30px;
}
.pagination-level-button {
  border-radius: 50%;
  border: 3px solid;
  padding: 14px 13px;
  padding: 14px 13px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: var(--background-white-color);
}
.pagination-level-button.green {
  color: #639b6d;
}
.pagination-level-button.green:hover {
  cursor: pointer;
  background-color: #d9f1ba;
}
.pagination-level-button.yellow {
  color: #c4a24c;
}
.pagination-level-button.yellow:hover {
  cursor: pointer;
  background-color: #ebdbb3;
}
.pagination-level-button.red {
  color: #cb5b43;
}
.pagination-level-button.red:hover {
  cursor: pointer;
  background-color: rgba(203, 91, 67, 0.3);
}
.pagination-level-button.brown {
  color: #a95151;
}
.pagination-level-button.brown:hover {
  cursor: pointer;
  background-color: rgba(169, 81, 81, 0.3);
}
.pagination-level-button.purple {
  color: #a15993;
}
.pagination-level-button.purple:hover {
  cursor: pointer;
  background-color: #ebd4fd;
}
.pagination-level-button.blue {
  color: #5996a5;
}
.pagination-level-button.blue:hover {
  cursor: pointer;
  background-color: #c3dce3;
}

.game-link {
  border-radius: 6px;
  padding: 4px 8px;

  background-color: #c3dce3;
  color: var(--accent-text-color);
  font-size: 12px;
}

.game-title {
  font-family: var(--font-logo);
  font-weight: 400;
  font-size: 48px;
  color: var(--title-text-color);
}
.game-text-level {
  font-size: 14px;
  margin-bottom: 8px;
}
.game-text-audio {
  max-width: 383px;
  margin-bottom: 30px;
}
.game-start {
  border-radius: 100px;
  padding: 14px 22px;
  width: 132px;
  height: 44px;
  background-color: #c3dce3;
  color: var(--accent-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-start:hover {
  background-color: var(--accent-text-color);
  color: var(--background-white-color);
}
