:root {
  /* Кольори */
  --primary-text-color: #757575;
  --background-color: #f6f5f4;
  --background-white-color: #ffffff;
  --accent-text-color: #2b788b;
  --title-text-color: #000000;
  --subtitle-text-color: #585858;
  --accent-link-color: #c3dce3;
  --pink-text-color: #945069;

  /* Шрифти */
  --font-primary: "Montserrat", sans-serif;
  --font-logo: "Dela Gothic One", sans-serif;
}
body {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: var(--primary-text-color);
  letter-spacing: -0.04em;
  background-color: var(--background-color);
}
/* HOME */
.logo {
  font-size: 21px;
  font-family: var(--font-logo);
  color: var(--title-text-color);
}
.nav-item:hover {
  color: var(--subtitle-text-color);
}
.nav-link.active {
  color: var(--title-text-color);
}
.action-item:nth-child(2) {
  color: var(--title-text-color);
  font-weight: 700;
}
.hero-subtitle {
  font-weight: 700;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}
.hero-title {
  font-weight: 400;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -0.04em;
  font-family: var(--font-logo);
  color: var(--title-text-color);
}
.text {
  font-size: 18px;
}
.hero-link {
  font-weight: 700;
  color: var(--accent-text-color);
}
.advantages-text {
  color: var(--subtitle-text-color);
}

.title {
  font-weight: 400;
  font-size: 48px;
  font-family: var(--font-logo);
  color: var(--title-text-color);
}

.play-item:nth-child(1) {
  color: var(--pink-text-color);
}
.play-item:nth-child(2) {
  color: var(--accent-text-color);
}
.play-link {
  font-weight: 700;
}
.link {
  font-weight: 700;
  color: var(--accent-text-color);
}
.globaltalk-link,
.accounts-link {
  font-size: 14px;
}
.footer-privacy {
  font-size: 12px;
}
/* TEXTBOOK */
.settings-item:nth-child(1) {
  color: var(--pink-text-color);
}
.settings-item:nth-child(2) {
  color: var(--accent-text-color);
}
.english-level.active {
  color: var(--title-text-color);
  font-family: var(--font-logo);
}
.english-level {
  font-family: var(--font-logo);
  color: var(--primary-text-color);
}
.english-button {
  border: none;
  background-color: var(--background-color);
}
.english-text.active {
  color: var(--background-white-color);
  background-color: #639b6d;
  font-size: 12px;
  padding: 4px 8px;
  width: 43px;
  height: 25px;
  border-radius: 4px;
}
.english-text.green {
  color: #639b6d;
  background-color: rgba(99, 155, 109, 0.3);

  font-size: 12px;
  padding: 4px 8px;
  width: 43px;
  height: 25px;
  border-radius: 4px;
}
.english-text.yellow {
  color: #c4a24c;
  background-color: rgba(196, 162, 76, 0.3);
  font-size: 12px;
  padding: 4px 8px;
  width: 43px;
  height: 25px;
  border-radius: 4px;
}
.english-text.red {
  color: #cb5b43;
  background-color: rgba(203, 91, 67, 0.3);
  font-size: 12px;
  padding: 4px 8px;
  width: 43px;
  height: 25px;
  border-radius: 4px;
}
.card-word {
  color: var(--title-text-color);
  font-family: var(--font-logo);
  font-size: 32px;
}
.card-sinonim {
  color: var(--primary-text-color);
  font-family: var(--font-logo);
  font-size: 32px;
}
.card-spelling {
  color: var(--title-text-color);
  font-size: 18px;
}
.card-example {
  font-weight: 500;
  color: var(--title-text-color);
}
.card-text {
  font-weight: 500;
}
.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--accent-text-color);
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  border-radius: 100px;
  padding: 14px 17px;
  width: 44px;
  height: 44px;
}
.pagination-text {
  font-size: 18px;
}
