:root {
  /* Кольори */
  --primary-text-color: #757575;
  --background-color: #f6f5f4;
  --background-white-color: #ffffff;
  --accent-text-color: #2b788b;
  --title-text-color: #000000;
  --subtitle-text-color: #585858;
  --accent-link-color: #c3dce3;
  --pink-text-color: #945069;

  /* Шрифти */
  --font-primary: "Montserrat", sans-serif;
  --font-logo: "Dela Gothic One", sans-serif;
}
body {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: var(--primary-text-color);
  letter-spacing: -0.04em;
}
/* HOME */
.logo {
  font-size: 21px;
  font-family: var(--font-logo);
  color: var(--title-text-color);
}
.nav-item:hover {
  color: var(--subtitle-text-color);
}
.nav-link.active {
  color: var(--title-text-color);
}
.action-item:nth-child(2) {
  color: var(--title-text-color);
  font-weight: 700;
}
.hero-subtitle {
  font-weight: 700;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}
.hero-title {
  font-weight: 400;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -0.04em;
  font-family: var(--font-logo);
  color: var(--title-text-color);
}
.text {
  font-size: 18px;
}
.hero-link {
  font-weight: 700;
  color: var(--accent-text-color);
}
.advantages-text {
  color: var(--subtitle-text-color);
}

.title {
  font-weight: 400;
  font-size: 48px;
  font-family: var(--font-logo);
  color: var(--title-text-color);
}

.play-item:nth-child(1) {
  color: var(--pink-text-color);
}
.play-item:nth-child(2) {
  color: var(--accent-text-color);
}
.play-link {
  font-weight: 700;
}
.link {
  font-weight: 700;
  color: var(--accent-text-color);
}
.globaltalk-link,
.accounts-link {
  font-size: 14px;
}
.footer-privacy {
  font-size: 12px;
}
/* TEXBOOK */
.settings-item:nth-child(1) {
  color: var(--pink-text-color);
}
.settings-item:nth-child(2) {
  color: var(--accent-text-color);
}
